.task_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: .5rem;
}
  
  .tast_detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tast_detail h3 {
    margin: auto;
  }
.tast_detail p {
    margin: auto;
    font-size: small;
} 

  .tast_action {
     display: flex;
     gap: .5rem;;
  }
  
  .tast_action button {
    margin-top: 10px;
    padding: 5px 10px;
  }
  
  @media (max-width: 768px) {
    .task_container {
      max-width: 100%;
    }
  }